<a href="https://colab.research.google.com/github/copaland/python/blob/main/python_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#연산자

##가감승제 연산자

In [ ]:
num1 = 100
num2 = 200
result = num1 + num2
print(num1,"+",num2,"=",result)
result = num1 - num2
print(num1,"-",num2,"=",result)
result = num1 * num2
print(num1,"x",num2,"=",result)
result = num1 / num2
print(num1,"/",num2,"=",result)

100 + 200 = 300
100 - 200 = -100
100 x 200 = 20000
100 / 200 = 0.5

## ,과 + 사용법

In [ ]:
a = "대한"
b = "민국"
print(a,b) # ,를 사용하면 스페이스가 붙음
print(a+b) # +를 사용시 붙어서 나옴

대한 민국
대한민국

In [ ]:
a = "123"
b = "456"
print(a,b)
print(a+b) #스트링이라  합이 아니라 123456으로 뜸

123 456
123456

##int 함수

In [ ]:
a = int("123")
b = int("456")
print(a,b)
print(a+b) #합으로 뜸.

123 456
579

##변수 Type

In [ ]:
a = 1234
b = "가나다"
c = 3.141592
d = True
print(type(a)) #인티저
print(type(b)) #스트링
print(type(c)) #플롯
print(type(d)) #불
a = "hi"
print(type(a)) #파이썬 변수는 스트링으로 자동으로 바뀜 #스트링은 더하기(+)만 됨

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

---
변수명은 영문자가 앞으로 나오고 숫자가 뒤로옴.   
변수명은 대문자와 소문자를 구별함.   
변수명에 예악어를 사용할 수 없음    
예약어 : 이미 파이썬문법에 정의되어 사용하는 단어if else등    

변수명으로 예약어를 사용하면 오류 발생함   
(true, fluse, none, if, elif, continue, def, finally, else, for, pass, with, try,excpt,break,class,return,import,as)   
좋은 변수는 의미를 이름 보고알 수 있는것

---

# INPUT 함수

In [ ]:
#input 함수 
#입력하는데로 결과가 뜸.
input()

1

'1'

In [ ]:
num1 = input("숫자입력1") #문자로 받는것임.
num2 = input("숫자입력2")
print(num1)
print(num2)
result = num1+num2
print(num1,"+",num2, "=",result)

숫자입력11
숫자입력22
1
2
1 + 2 = 12

In [ ]:
num1 = int(input("숫자입력1")) #int로 해야 숫자로인식
num2 = int(input("숫자입력2"))
print(num1)
print(num2)
result = num1+num2
print(num1,"+",num2, "=",result)
result = num1-num2
print(num1,"-",num2, "=",result)
result = num1*num2
print(num1,"*",num2, "=",result)
result = num1/num2
print(num1,"/",num2, "=",result)

숫자입력11
숫자입력22
1
2
1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5

##응용)사용자의 전화번호 받아 기록하는 프로그램

In [ ]:
 userName = input("이름입력:")
 phoneNum = input("전화번호:")
 print("입력한 내용은",userName,",","전화번호는",phoneNum,"입니다.")

이름입력:ㅁㄱㅎ
전화번호:1234
입력한 내용은 ㅁㄱㅎ , 전화번호는 1234 입니다.

##응용) 택배 배송 정보 입력하기

In [ ]:
print("##택배를 보내기위한 정보를 입력하세요.##")
personName = input("받는사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게(g) :"))
print("** 받는사람 ==>", personName)
print("** 주소 ==>",personAddr)
print("**배송비 ==>",weight*5,"원")

##택배를 보내기위한 정보를 입력하세요.##
받는사람 : 1
주소 : 1
무게(g) :13
** 받는사람 ==> 1
** 주소 ==> 1
**배송비 ==> 65 원

#산술연산자

파이썬에서 사용되는 기본적인 산술 연산자 (+  -  *  /)

##산술연산

In [ ]:
#산술 연산자 좌우측이 대입되어야 함.
a,b,c = 3,4,5
print(a+b-c)
print(a-c+b)
print(-c+a+b)

2
2
2

In [ ]:
#곱하기와 나누기가 더하기와 빼기를 만나면 곱하기와 나누기먼저 실행
a,b,c=3,4,5
print(a*b+c)
print(c+a*b)

17
17

In [ ]:
a = 11//4 #소숫점이하 버리는 나누기 (몫)
b = 11%4 #나머지 구하는 나누기
c = 11/4 #나누기
d = 10**2 # 제곱계산
print(a)
print(b)
print(c)
print(d)

2
3
2.75
100

In [ ]:
num1 = int(input("수입력:"))
num2 = int(input("나눌수:"))
q = num1 // num2
r = num1 % num2
print(num1,"/",num2,"의 몫:",q,"\n나머지는",r,"이다.")

수입력:1
나눌수:1
1 / 1 의 몫: 1
나머지는 0 이다.

##예제)덤벨의 파운드를 kg으로 환산하기

In [ ]:
num1 = int(input("파운드(1b)를 입력하세요:"))
q = 1*0.453592
print(num1,"파운드 (1b)는",q,"킬로그램(kg)입니다.")
num2 = int(input("킬로그램(kg)를 입력하세요:"))
r = 1*2.204623
print(num2,"킬로그램 (Kg)은",r,"파운드(1b)입니다.")

파운드(1b)를 입력하세요:1
1 파운드 (1b)는 0.453592 킬로그램(kg)입니다.
킬로그램(kg)를 입력하세요:2
2 킬로그램 (Kg)은 2.204623 파운드(1b)입니다.

#대입연산자

오른쪽의 값이나 계산 결과를 왼쪽으로 대입하라는 의미로 = 연산자가 가장 기본적인 대입 연산자

여러개의 대입 연산자   
콤마,로 분리해서 왼쪽에 변수가 2개이상 나올수도있음   
그런경우에는 오른쪽도 반드시 콤마로 분리된 2개의 수식,숫자,문자열 등이 와야함

In [ ]:
num1,num2,num3 = 100,200,300
print(num1,num2,num3)
num4 = 100,200 #특수상황
print(num4)

100 200 300
(100, 200)

# 논리연산자

### 비교연산자

변수에 들어 있는 값을 주로 사용함

In [ ]:
score = int(input("점수입력:"))
print(score >= 70)

점수입력:75
True

In [ ]:
sc = int(input("점수입력:"))
(sc > 100) and (sc < 200) #조건:100<sc<200

점수입력:145

True

In [ ]:
sc = int(input("점수입력:"))
(sc == 100) or (sc > 200) #조건: 100인경우 이거나, 200이상일때.

점수입력:201

True

In [ ]:
sc = 100
not(sc==100) #not을 써서 부정을하여 False가 나옴.

False

#데이터형식

데이터형(Data Type) 변수나 상수의 종류 의미

In [ ]:
#type()함수 : 변수의 종류 확인하는용도

### 데이터형식   
정수형 : 소수점이 없는수, int의 크기에 제한이 없음.
실수형 : 소수점이 있는수 (3.14,-8.8등)    
정수와 정수의 연산은 정수   
실수와 실수의 연산은 실수   
정수와 정수여도 나눗셈을 하면 실수가 나옴

In [ ]:
#자료형
var1 = 100
var2 = 3.141592
var3 = "대한민국"
var4 = True
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

문자열

---
### 명령어

In [ ]:
print("애국가\t1절")
# \t:탭 
print("동해물과 '백두산'이 \n마르고 닳도록")
#'' 쓸라면 "" , \n : 줄바꾸기
print('동해물과 "백두산"이 마르고 닳도록')
#"" 쓸라면 '' 
print('동해물과 "백두산"이\b 마르고 닳도록')
# \b : 백슬래쉬

애국가	1절
동해물과 '백두산'이
마르고 닳도록
동해물과 "백두산"이 마르고 닳도록
동해물과 "백두산"이 마르고 닳도록

---
### 단어 대입

In [ ]:
a='난생'
b='처음'
print(a,b)
print(a+b)
c='파이썬은'+a+b
print(c)

난생 처음
난생처음
파이썬은난생처음

 곱하기 print(a*b) 이런건 안됨

---
### 글자수 카운트

In [ ]:
var1='동해물과 백두산이'
var2='마르고 닳도록'
var3='hello world'
len1=len(var1)#len:안에있는 숫자를 반환해주는 함수
len2=len(var2)
len3=len(var3)
print(len1,len2,len3)
diff=len1-len2#글자수 차이 비교
print(diff)

9 7 11
2

var1 : 공백 포함 9자리   
var2 : 공백 포함 7자리   
var3 : 공백 포함 11자리

---
### 전부 대소문자로 바꾸는법

In [ ]:
ss='Hello World'
##ss안에꺼 전부 대문자로 바꿈
var1=ss.upper()#upper: 대문자로바꿔줌
print(var1)
##ss안에꺼 전부 소문자로 바꿈
var2=ss.lower()#lower: 소문자로바꿔줌
print(var2)

HELLO WORLD
hello world

---
### 특정 단어 갯수 알아내는법

In [ ]:
ss='처음먹은 음식이 처음인데 익숙한 것 처럼 맛있다'
ss.count("처음")

2

---
### 특정단어 위치 찾아내는법

In [ ]:
ss='처음먹은 음식이 처음인데 익숙한 것 처럼 맛있다'
ss.find("음식")

5

0부터 시작하여 5번째칸에 존재함.

---
### 특정 위치에 있는 단어 출력하기

In [ ]:
ss='처음먹은 음식이 처음인데 익숙한 것 처럼 맛있는 음식이다'
#앞에서 부터 자릿수 카운트
print(ss[5]+ss[6])
#뒤에서부터 자릿수 카운트
print(ss[-8])

음식
맛

### 특정단어 지정해 바꾸는법

In [ ]:
a=3
b=4
t=0
'''
t=a
a=b
b=t
'''
a,b=3,4
print(a,b)
a,b=b,a
print(a,b)

3 4
4 3

#2주차 복습

In [ ]:
a='good morning'
b='-'
print(b*50)
print(a)
print(b*50)
print(a*5) # * (숫자) 하면 정해진 숫자만큼 복사

--------------------------------------------------
good morning
--------------------------------------------------
good morninggood morninggood morninggood morninggood morning

In [ ]:
a='Life is short,Art is long'
b=a[0]+a[1]+a[2]+a[3] #배열의 0,1,2,3번째 텍스트 출력 '슬라이스'
print(b)
print(a[8:13]) #8번부터 13번까지 출력, 하고싶은단어에 +1 해야됨
print(a[14:-8])

Life
short
Art

In [ ]:
s="20220913Sunny"
date=s[:8] #위치 값 시작은 그대로
weather=s[8:] #끝은 -1해서
year=s[0:4]
day=s[4:8]
print(date)
print(weather)
print(year)
print(day)

20220913
Sunny
2022
0913

--- 
### 값 대치 원할때

In [ ]:
ea=5
fruit='banana'
print('바나나를 %d개 먹었습니다'%ea) #%d 숫자불러옴
print('%s를 %d개 먹었습니다' %(day,ea))

바나나를 5개 먹었습니다
5를 5개 먹었습니다

# 조건문

---
순차구조   
순차적으로 코드가실행   
물이 흐르듯이 위에서 아래로 흐름


선택구조   
말그대로 선택 구조


반복구조   
동일한 코드, 특정단계 여러번 반복.

---
##if문

만약에 ㅇㅇ 라면으로 해석   
조건식이 참이라면 실행할 문장이 실행됨   
거짓이라면 아무것도 실행하지 않고 프로그램을 종료함   
:과 들여쓰기(tab)을 해줘야함

In [ ]:
money=3800
if money>=3800 :
  print("택시를 타고")
  print("집으로 간다")
else:
  print("뛰어간다.")

택시를 타고
집으로 간다

---
### 숫자를 입력 받아 홀수,짝수 인식

In [ ]:
num=int(input('숫자입력:'))
if (num%2 == 0):
  print('짝수입니다.')
else:
  print('홀수입니다.')

숫자입력:1
홀수입니다.

---
### 숫자의 크기비교

In [ ]:
a=200
b=200
if b>a:
  print('a가 b보다 작다')
elif a==b:
  print('a와 b가 같다')
else: #a>b
  print('a가 b보다 크다')

#가로로 쓰기
if a>b: print('a가b보다큼')
print('A>B')if a>b else print('B>A')
print('A>B')if a>b else print('=') if a==b else print('B>A')

a와 b가 같다
B>A
=

In [ ]:
a=100
b=200
c=300
if(a<b)and(c<a):
  print('A둘다클때')
if(a<b)or(c>a):
  print('B둘중 하나만 만족해도')

B둘중 하나만 만족해도

---
## 중첩조건문

if문안에 if문을 중첩 조건문이라고한다.

In [ ]:
x=40
if x>20:
  print('A:20보다 큰수')
  if x>30:
    print('B:30보다 큰수')
  else:
    print('B:20<x<=30수')
else: #10보다 작은 수
  print('A:20보다 작은수')

A:20보다 큰수
B:30보다 큰수

## pass 사용시 스킵됨

In [ ]:
a=30
b=40
if b>a:
  pass
else:
  print('A')
print('B')

B

##elif문

if else를 elif문이라고한다.

##while문

###While Loop

In [ ]:
i=1
while i<6:
  print(i, end=' ') 
  i+=1 #i=i+1

1 2 3 4 5

end='' 하면 가로로, ' ' 사이에 입력하면 그값도 추가되서나옴

---
### Break 수행중 빠지고싶을때

In [ ]:
j=1
while j<7:
  print(j)
  if j==3:
    break 
  j+=1

1
2
3

7까지 표시되어야 되나 3에서 빠져나옴.

---
###continue 특정숫자를 빼고싶을때

In [ ]:
k=0
while k<6:
  k+=1
  if k==3:
    continue
  print(k)

1
2
4
5
6

3을 건너뜀

---
###홀수만출력

In [ ]:
i=0
while i<10:
  i+=1 #1씩증가
  if i%2 == 0: #i가 2로나눈 나머지가 0이라면
    continue
  print(i)

1
3
5
7
9

###짝수만출력

In [ ]:
i=0
while i<10:
  i+=1
  if i%2==1:
    continue
  print(i)

2
4
6
8
10

---
###Random (응용한 가위바위보)

In [ ]:
import random
rcp=['가이','바이','이끼']
pc=random.choice(rcp) #지정해둔것에서 랜덤으로 초이스하는것.
me=input('가이바이이끼 입력:')
print(pc)
print(f'내가선택 {me} / PC선택 {pc}')
if me=='가이':
  if pc=='가이':print('b-gim')
  elif pc=='바이':print('jim')
  elif pc=='이끼':print('e-gim')
elif me=='바이':
  if pc=='가이':print('e-gim')
  elif pc=='바이':print('b-gim')
  elif pc=='이끼':print('jim')
elif me=='이끼':
  if pc=='가이':print('gim')
  elif pc=='바이':print('e-gim')
  elif pc=='이끼':print('b-gim')
else:
  print('가이,바이,이끼만 입력하세요')

가이바이이끼 입력:이끼
바이
내가선택 이끼 / PC선택 바이
e-gim

## 반복문

###for문 for in 형식   
range(시작값,끝값+1,증가값):지정된 범위의 값을 반환함.

### for loop

In [ ]:
for i in range(0,3,1): #0부터 3까지 1씩 증가해라. 
  # =for i in ragne(3)
  print('과일은 맛있다!')
for i in range(4):
  print('I like Apple')
for k in [0,1,2]: #배열로 선언
  print('따봉!')

과일은 맛있다!
과일은 맛있다!
과일은 맛있다!
I like Apple
I like Apple
I like Apple
I like Apple
따봉!
따봉!
따봉!

In [ ]:
hap=0
for i in range(1,10,1): #ragne(시작,끝+1,증가값)
  print(i,end=' ')
  hap=hap+i
print(hap)

1 2 3 4 5 6 7 8 9 45

### 팩토리얼(5명이서 줄서는 방법)

In [ ]:
fac = 1
num = 5
for k in range(1,num+1,1):
  fac=fac*k
print(fac)

120

###중첩 for문

In [ ]:
for i in range(2):
  for k in range(3):
    print(i,k,'중첩 for문')

0 0 중첩 for문
0 1 중첩 for문
0 2 중첩 for문
1 0 중첩 for문
1 1 중첩 for문
1 2 중첩 for문

####중첩 for문 응용 구구단.1

In [ ]:
i=int(input('구구단 출력할 단수 입력'))
for j in range(1,10,1):
  k=i*j
  print(i,'x',j,'=',i*j)

구구단 출력할 단수 입력21
21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189

####구구단응용.2

In [ ]:
for i in range(2,10,1):
  for j in range(1,10,1):
    print(i,'x',j,'=',i*j)
  print('-'*30)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------------------

5개씩 인쇄하는방법 숙제.

###Random 주사위예제

In [ ]:
import random
count = 0
dice = 0
dice = random.randint(1,6) #랜덤인티저 1to6
print(dice)

6

1-6까지 출력됨.

####공통값 카운트되는 주사위

In [ ]:
import random
count=0
dice1,dice2,dice3=0,0,0
#주사위 세개 공통된값 나올때 카운트.
while True:
  count+=1
  dice1=random.randint(1,6)
  dice2=random.randint(1,6)
  dice3=random.randint(1,6)
  if (dice1==dice2) and (dice2==dice3): #세개의 주사위값이 같을때
    break
print('주사위 값은',dice1,'&',count,'번 던졌습니다.')

주사위 값은 5 & 12 번 던졌습니다.

#### 점수맞추기 게임.

In [ ]:
import random
pc,me=0,0
for i in range(1,11,1):
  pc=random.randint(1,9) #random integer
  print(i,'번째 게임',end=' ')
  me=int(input("PC의 숫자는?"))
  
  if pc == me:
    print('correct!!')
    break
  else:
    print('incorrect..')
    continue
print('..game over..')

1 번째 게임 PC의 숫자는?2
incorrect..
2 번째 게임 PC의 숫자는?3
correct!!
..game over..